<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523942833676-0sssu8c1g83vnqp4iisho8f6qst8e16l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523942833676-0sssu8c1g83vnqp4iisho8f6qst8e16l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>523942833676-msug5tp2qeuvp29jq4etngbkegvfle7a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDTLPMMCrjSDK4ikCzDi9YyYCthvWC3M1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>523942833676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matsuchiyo.BeforeAndAfter</string>
	<key>PROJECT_ID</key>
	<string>beforeandafter-256014</string>
	<key>STORAGE_BUCKET</key>
	<string>beforeandafter-256014.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523942833676:ios:35f547d2d3d3dad6810829</string>
	<key>DATABASE_URL</key>
	<string>https://beforeandafter-256014.firebaseio.com</string>
</dict>
</plist>